#--------------------------------------------------------------------------------#
#                             Attention!
# You must be created two files .env.develop and .env.production in this folder.
#--------------------------------------------------------------------------------#

NODE_ENV=develop || production

# Enable graphql playground
# For develop host - true, for production - false
GRAPHQL_PLAYGROUND=true || false

POSTGRES_DB=dbName
POSTGRES_USER=dbUser
POSTGRES_PASSWORD=mySecretPassword

# Path to postgresql db data
# Can be left as is
PGDATA=/var/lib/postgresql/data/pgdata

# Leave as is
DB_DIALECT=postgres

DB_HOST=hostname_or_ip

# Leave as is
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=myEmail@yandex.ru
PGADMIN_DEFAULT_PASSWORD=my_secret_password_to_db_admin_page

JWT_SECRET=super_secret_jwt_key

COMPOSE_PROJECT_NAME=project_name
